<li id="announcement-<%= announcement.id %>">
  <%= link_to announcement, "data-turbolinks": false,
    class: "announcement-item", remote: true do %>
    <div class="announcement-content">
      <%= announcement.title %>
    </div>
  <% end %>
  <div class="announcement-time">
    <%= I18n.localize(announcement.created_at, format: :short) %>
  </div>
</li>
