<div class="container-fluid header-block">
  <h1 class="text-capitalize"><%= t "layouts.header.announcements" %></h1>
</div>
<div class="info header-announcements container">
  <%= render "announcements", announcements: @announcements %>
</div>
