<div class="nested-fields author-book-fields form-inline">
  <%= f.text_field :name, placeholder: t("admin.books.form.new_publisher"),
    class: "form-control" %>
  <%= link_to_remove_association f, class: "remove-tag" do %>
    <div class="glyphicon glyphicon-remove"></div>
  <% end %>
</div>
