<div class="row">
  <br><br>
  <div class="col-xs-8 col-xs-offset-2">
    <h1><%= t ".page_title" %></h1><br>
    <div class="col-xs-12">
      <%= render "form", book: @book, book_item: @book_item %>
    </div>
  </div>
</div>
