@import "users/colors";

#comments {
  .comment-input {
    button {
      margin-top: 5px;
    }

    .preview {
      padding: 15px;
    }
  }

  .comment {
    background-color: $white;
    border-radius: 2px;
    margin: 10px 0 5px;
    padding: 25px 30px;

    hr {
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .reply {
      margin-top: 10px;

      .btn-padding {
        margin-right: 10px;
      }
    }
  }

  .comment-header {
    align-items: center;
    display: flex;

    img {
      border-radius: 100%;
      height: 40px;
      width: 40px;
    }

    .meta {
      flex-grow: 1;

      .author {
        margin-left: 10px;

        a {
          font-weight: bolder;
        }

        small,
        span {
          color: $comment-gray;
        }
      }
    }
  }

  .comment-body {
    margin-top: 5px;

    p {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: -.003em;
      line-height: 1.65;
      margin-bottom: .5em;
      text-align: left;
      word-wrap: break-word;
    }
  }

  .comment-footer {
    color: $comment-gray;
  }
}
