<div class="book-image-cont book-part">
  <img src="<%= book.images.first.url %>" class="book-image">
  <div class="image-others">
    <% book.images.each do |i| %>
      <img src="<%= i.url %>" class="book-image-others">
    <% end %>
  </div>
</div>
