<div class="relate-book">
  <p class="book-title relate-title">Related Book</p>
  <div class="relate-book-cont">
    <div class="owl-carousel owl-theme">
      <% book.find_related_book.each do |b| %>
        <%= link_to book_path(b) do %>
          <div class="item-book pmd-z-depth-2" data-url="<%= b.id %>">
            <div class="img-container">
            <img src="<%= b.images.first.url %>">
            <span><%= b.title %></span>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

