//colors
$color-royal-blue-approx: #4285f4;
$white: #fff;
$color-mine-shaft-approx: #333;
$color-alabaster-approx: #f9f9f9;
$color-cararra-approx: #ebebeb;
$black-44: rgba(0, 0, 0, .44);
$color-wild-sand-approx: #f5f5f5;
$black-30: rgba(0, 0, 0, .3);
$color-pumice-approx: #c8c8c8;
$color-big-stone-approx: #1a2940;
$color-outer-space-approx: #2c343f;
$black-10: rgba(0, 0, 0, .1);
$color-trout-approx: #4d575d;
$color-royal-blue-approx: #4285f4;
$dark-silver: #aaa;
$cornflower-blue: #6495ed;
$border-color: #ccc;
$table-border: #ddd;

//fonts
$font-0: Roboto;
