<div class="password">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 col-sm-offset-3 jumbotron">
        <p><%= t "password.create.check_mail" %></p>
        <%= render "passwords/links" %>
      </div>
    </div>
  </div>
</div>
