<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= t "password.update.title" %></h1>
    <%= t "password.update.send_mail" %>
    <br>
    <%= link_to t("password.update.title"),
      edit_password_url(user: {email: @user.email,
      reset_password_token: @user.reset_password_token}) %>
  </body>
</html>
