<div class="row">
  <div class="from-filter">
    <div class="row">
      <div class="col-md-12 pull-right">

      </div>
    </div>
  </div>
  <div class="pmd-card pmd-z-depth">
    <div class="pmd-tabs pmd-tabs-bg">
      <div class="pmd-tab-active-bar"></div>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
            <%= t "admin.requests.index.buy_book" %>
          </a>
        </li>
        <li role="presentation">
          <a href="#about" aria-controls="about" role="tab" data-toggle="tab">
            <%= t "admin.requests.index.donate_book" %>
          </a>
        </li>
        <li role="presentation">
          <a href="#borrow-book" aria-controls="work" role="tab" data-toggle="tab">
            <%= t "admin.requests.index.borrow_books" %>
          </a>
        </li>
      </ul>
    </div>
    <div class="pmd-card-body">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="about">
        </div>
        <div role="tabpanel" class="tab-pane" id="borrow-book">
          <%= render "borrow", data: data %>
        </div>
      </div>
    </div>
  </div>
</div>
