<footer class="admin-footer">
  <div class="container-fluid">
    <ul class="list-unstyled list-inline">
      <li class="pull-right">
        <span class="pmd-card-subtitle-text">
          <%= t "company" %> &copy <%= Time.current.year %>
          . <%= t "layouts.footer.copyright" %>.
        </span>
        <h3 class="pmd-card-subtitle-text">
          Licensed under
          <a href="https://opensource.org/licenses/MIT" target="_blank">MIT license.</a>
        </h3>
      </li>
    </ul>
  </div>
</footer>
