$white: #fff;
$navbar-border-top: rgba(255, 255, 255, .34);
$navbar-border-container: rgba(255, 255, 255, .16);
$navbar-form-control-background: rgba(255, 255, 255, .24);
$navbar-form-control-box-shadow: rgba(0, 0, 0, .2);
$navbar-form-control-color: rgba(255, 255, 255, .34);
$navbar-form-control-focus: rgba(255, 255, 255, .87);
$navbar-anchor-color: #515b6b;
$navbar-dropdown-anchor-after-color: #4d42a9;
$navbar-fixed-top-border-color: #19388a;
$navbar-fixed-top-shadow-color: rgba(0, 0, 0, .1);
$navbar-pmd-svg-icon-fill: #424c5c;
$navbar-search-form-border: rgba(66, 133, 244, .54);
$navbar-search-shadow: rgba(66, 133, 244, .12);
$navbar-search-svg: #7e8899;
$navbar-fixed-top-form-focus: rgba(255, 255, 255, .74);
$navbar-fixed-top-shadow: rgba(0, 0, 0, .12);
$navbar-sidebar-background: #272f3c;
$navbar-right-icon-background: rgba(0, 0, 0, .2);
$navbar-custom-border: rgba(255, 255, 255, .08);
$navbar-custom-background:  rgba(0, 0, 0, .16);
$navbar-sidebar-open-background: rgba(0, 0, 0, .34);
$navbar-nav-color: #e9dbe0;
$color-aztec-approx: #0c1a1e;
$color-mountain-mist-approx: #999;
$color-delta-approx: #a0a3a4;
$color-blaze-orange-approx: #ff670f;
$black: #000;
$color-swiss-coffee-approx: #d9d6d6;
$color-stack-approx: #8f8f8f;
$color-gallery-approx: #ededed;
$frame: rgba(240, 240, 240, .91);
$background-book: rgba(246, 246, 246, .89);
$frame-start: #fdfbfb;
$frame-end:#ebedee;
$frame: linear-gradient(120deg, $frame-start 0%, $frame-end 100%);
$frame-inverse: linear-gradient(120deg, $frame-end 0%, $frame-start 100%);
$relate-book-start: #f3e7e9;
$relate-book-mid: #e3eeff;
$relate-book: linear-gradient(to top, $relate-book-start 0%,
  $relate-book-mid 99%, $relate-book-mid 100%);
$send-req-start: #7DE2FC;
$send-req-end: #B9B6E5;
$send-req: linear-gradient(35deg, $send-req-start 0%, $send-req-end 100%);
$background-book: rgb(249, 249, 249);
$shadow1: rgba(0, 0, 0, .12);
$shadow2: rgba(0, 0, 0, .24);
$reply-toggle: #f4f4f4;
$reply-toggled: #e3e3e3;
$time-ago: #8f8f8f;
$blog-title: #850000;
$header: rgba(162, 86, 60, .74);
$star: #ded33a;

//fonts
$font-0: Open Sans;
$font-1: sans-serif;

//backgrounds
$aqua: #00bdbd;
$aquamarine: #7fffd4;
