@import "users/colors";

.btn-book-mark {
  cursor: pointer;

  a {
    color: $white;
  }
}

.pmd-content {
  overflow-x: hidden;
}

.bookmark-icon {
  float: right;
  font-size: 25px;
  margin-right: 20px;
}
