@import "colors";

.rate {
  &:hover {
    color: $apple-blossom-approx !important;
  }
}

.book-show {
  .book-btn-row {
    height: 75px;
  }

  .book-info-row {
    margin-top: 10px;

    span {
      font-weight: bold;
    }
  }

  .frame {
    background: transparent;
    padding: 0 10px 20px;

    .control-label {
      color: $white;
      font-size: 1em;
    }

    .form-group.pmd-textfield {
      margin: 0;
    }

    .btn-send-req {
      background: $main-color-primary;
      box-shadow: 0 2px 4px $shadow-light, 0 3px 6px $shadow-normal;
      color: $white;
      margin: 10px 0 0;
      transition: .6s;
      width: 100%;
    }

    .btn-send-req:hover {
      background: $white;
      color: $black;
    }
  }

  .book-image {
    background: $white;
    border-radius: 2px;
    box-shadow: 0 2px 4px $shadow-light, 0 3px 6px $shadow-normal;
    height: 26vw;
    padding: 3px;
    width: 100%;
  }

  @media screen and (max-width: 767px) {
    .book-image {
      height: 115vw;
    }
  }

  @media screen and (min-width: 1440px) {
    .book-image {
      height: 21vw;
    }
  }

  .book-title {
    font-size: 2em;
    margin-bottom: 0;
  }

  .borrow-title {
    color: $white;
    font-size: 30px;
    font-weight: lighter;
    margin: -10px 10px;
    text-transform: uppercase;
  }

  .bolder {
    font-weight: bold;
  }

  .book-author {
    color: $blog-title;
    font-size: 1.1em;
    font-style: italic;
    margin-top: 5px;

    a {
      color: $blog-title;

      span {
        padding: 0 5px;
        transition: .4s;
      }
    }

    a:hover {
      span {
        background: $blog-title;
        color: $white;
        margin: -2.5px 0 0;
        padding: 5px;
      }
    }
  }

  .fa-star,
  .fa-star-half-o,
  .fa-star-o {
    color: $star;
    font-size: 1.5em !important;
  }

  .tag {
    background: $main-color-lighter;
    border-radius: 3px;
    box-shadow: 0 2px 4px $shadow-light, 0 3px 6px $shadow-normal;
    color: $white;
    display: inline;
    padding: 4px 6px;
    transition: .4s;
  }

  .tag:hover {
    background: $main-color-light;
  }

  .description {
    margin: 20px 0;
  }

  .dp-inline {
    display: inline-block;
  }

  .nav-tabs li {
    text-transform: uppercase;
  }

  .active {
    a {
      background: $white;
      opacity: 1 !important;

      span {
        color: $blog-title;
      }
    }
  }

  .tab-row {
    background: $background-book;
    border-radius: 2px;
    padding: 20px !important;
  }

  .social-field {
    background: $white;
    margin: 0 5px;
    padding: 20px 5px;

    .nav-tabs {
      background: $main-color-lighter;

      a {
        background: $main-color-light;
        border: 0;
        border-radius: 2px;
        color: $white;
        font-size: .8em;
        margin: 10px;
        opacity: 1;
        padding: 8px 12px 6px;
        transition: .4s;
      }

      a:hover {
        background: $main-color-primary;
      }

      .active {
        background: transparent;

        a {
          background: $main-color-dark;
          border: 0;
          color: $white;
        }
      }

      .btn-new-blog {
        float: right;
        margin-right: 20px;
        margin-top: 5px;

        button {
          background: $main-color-primary;
          transition: .5s;

          &:hover {
            background: $main-color-dark;
            box-shadow: 0 2px 4px $shadow-light, 0 3px 6px $shadow-normal;
          }
        }
      }
    }
  }

  .blog-box {
    border-left: 2px solid $header;
    margin-bottom: .5px;
    padding: 5px 20px;
    position: relative;

    .blog-title {
      font-size: 1.2em;
      margin: 0;

      a {
        background: transparent;
        color: $blog-title;
        transition: .7s;
      }

      a:hover {
        background: $main-color-primary;
        color: $white;
        padding: 0 10px;
      }
    }

    .blog-description {
      font-size: .8em;
      font-style: italic;
      margin: 0;

      p {
        max-height: 40px;
        overflow-y: hidden;
        width: 90%;
      }
    }

    .blog-head {
      position: relative;

      p {
        font-size: .9em;
        margin: 0;
      }

      .blog-title-left {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  .time-ago {
    color: $time-ago;
  }

  .image-others {
    height: 90px;
    margin-top: 15px;

    .book-image-others {
      border: 1px solid $frame-end;
      height: 80px;
      padding: 5px;
      width: 60px;
    }

    .owl-item {
      height: 80px;
      width: 60px;
    }
  }

  .book-part {
    margin-top: 20px;
  }

  .book-top {
    background: transparent;
    padding: 0 20px 20px;

    .book-borrow-col {
      background: $main-color-light;
      padding: 30px 30px 120px;
      position: relative;

      .form-control {
        color: $white;
      }

      .end-triangle {
        border-bottom: 90px solid $white;
        border-left: 140px solid transparent;
        border-right: 140px solid transparent;
        bottom: 0;
        margin-left: -30px;
        position: absolute;
        width: 100%;
      }

      @media screen and (max-width: 767px) {
        .end-triangle {
          border-bottom: 90px solid $white;
          border-left: 165px solid transparent;
          border-right: 200px solid transparent;
        }
      }

      @media screen and (min-width: 1024px) and (max-width: 1280px) {
        .end-triangle {
          border-bottom: 120px solid $white;
          border-left: 120px solid transparent;
          border-right: 120px solid transparent;
        }
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .book-borrow-col {
        background: $main-color-light;
        padding: 10px 10px 100px;
        position: relative;

        .end-triangle {
          border-bottom: 60px solid $white;
          border-left: 100px solid transparent;
          border-right: 100px solid transparent;
        }
      }
    }
  }

  .relate-book {
    background: $main-color-lighter;
    color: $white;
    margin: 5px 20px;

    .new-tag {
      background: $main-color-light;
      font-weight: bold;
      left: 5%;
      margin: 15px 0 0;
      padding: 0 15px;
      position: absolute;
      top: 0;
      transform: scale(1);
      transition: .5s;
    }

    .slide-book {
      background: $white;
      position: relative;

      ul {
        padding: 0;

        li {
          list-style-type: disc;
        }
      }

      .owl-item {
        height: 230px;

        .book-grid {
          background-position: center;
          background-size: cover;
          height: 100%;
          position: relative;
        }

        .book-item-info {
          background: $white;
          height: 230px;
          left: 0;
          padding: 10px;
          position: absolute;
          top: 0;
          transform: scale(0);
          transition: .5s ease;
          z-index: 10;

          .book-author {
            color: $black;
            display: -webkit-box;
            font-size: .8em;
            -webkit-line-clamp: 2;
            line-height: 1.1em;
            margin-top: 3px;
            max-height: 2.5em;
            overflow: hidden;
            position: relative;
            text-overflow: ellipsis;
          }

          .star-in-item {
            bottom: 5%;
            color: $star;
            font-size: .7em;
            position: absolute;
            right: 2%;
          }

          .book-title {
            display: -webkit-box;
            font-size: 1.2em;
            -webkit-line-clamp: 4;
            line-height: 1.1em;
            margin-top: 5px;
            max-height: 5.5em;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .book-title:hover {
            color: $blog-title;
          }

          .book-category {
            bottom: -3%;
            font-size: .7em;
            left: 4%;
            position: absolute;
          }

          a {
            color: $black;
          }

          a:hover {
            color: $blog-title;
          }
        }

        .book-grid:hover {
          .book-item-info {
            transform: scale(1);
          }

          img {
            transform: rotate(180deg) scale(.1);
          }

          .new-tag {
            transform: rotate(180deg) scale(.1);
          }
        }

        img {
          box-shadow: -10px 4px 20px $shadow-light, 2px 4px 20px $shadow-normal;
          height: 90%;
          left: 13%;
          position: absolute;
          top: 5%;
          transition: .6s ease;
          width: 75%;
        }
      }

      .fa-angle-left,
      .fa-angle-right {
        color: $black;
        font-size: 1.5em;
        padding: 0 7px;
        position: absolute;
        top: 42%;
      }

      .fa-angle-left {
        left: -2vw;
      }

      .fa-angle-right {
        right: -2vw;
      }
    }
  }

  .relate-title {
    font-size: 1.1em;
    margin: 0;
    padding: 10px;
    text-transform: uppercase;
  }

  .item-book {
    background: $white;

    span {
      display: -webkit-box;
      font-size: .8em;
      -webkit-line-clamp: 2;
      line-height: 1em;
      margin-top: 5px;
      max-height: 2em;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .img-container {
    padding: 5px 10px;

    img {
      border: 1px $black;
      box-shadow: 0 2px 4px $shadow-light, 0 3px 6px $shadow-normal;
      height: 200px;
      margin-right: 0;
      width: 100%;
    }
  }

  .modal-book-img {
    background: $white;
    border-radius: 2px;
    box-shadow: 0 2px 4px $shadow-light, 0 3px 6px $shadow-normal;
    padding: 2px;
  }

  .h2-text {
    font-size: 2em;
  }

  .modal-borrow-info {
    border: 1px solid $frame;
    box-shadow: 0 2px 4px $shadow-light, 0 3px 6px $shadow-normal;
    height: 350px;
    padding: 0 5px 0 25px;

    h3 {
      font-size: 1.5em;
      font-weight: bolder;
      margin-top: 5px;
    }
  }

  .message {
    font-size: 1em;
    font-style: italic;
  }

  .btn-book-info {
    border-radius: 2px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    transition: .5s;
  }

  .btn-book-info:hover {
    background: $main-color-primary;
    box-shadow: 0 4px 8px $shadow-light, 0 4px 8px $shadow-normal;
    margin-top: -2px;
  }

  .popover-content {
    img {
      border-radius: 50%;
      display: inline;
      height: 50px;
      margin-bottom: 10px;
      width: 50px;
    }

    span {
      margin-bottom: 10px;
      padding-left: 10px;
    }
  }

  .fa-angle-down {
    margin-bottom: -2px;
  }

  .popover {
    max-width: 520px;
  }

  .book-cate {
    a {
      color: $main-color-light;
      font-weight: bold;
      padding: 0 5px;
      text-transform: uppercase;
      transition: .4s;

      &:hover {
        background: $main-color-light;
        color: $white;
        margin-top: -2.5px;
        padding: 5px;
      }
    }
  }
}

.hero-block {
  height: 45vh !important;
  margin-bottom: 0 !important;
  position: relative;

  a {
    color: $white;
    font-size: 5vh;
  }

  a:hover {
    color: $main-color-lighter;
  }

  .text-capitalize {
    font-size: 7vh;
    font-weight: bold;
    padding: 0 15px;
    text-transform: uppercase;
  }

  @media screen and (max-width: 1025px) {
    a {
      font-size: 3vh;
    }

    .text-capitalize {
      font-size: 4vh;
    }
  }
}




