@import "colors";

.bottom-diagonal {
  border-bottom: 10vh solid $author-background;
  border-right: 100vw solid transparent;
  border-top: 10vh solid transparent;
  height: 0;
  width: 100%;
}

.hot-book {
  background: $book-background;
  min-height: calc(100vh - 80px);
  padding: calc(20vh - 40px) 0 0;

  .img-container {
    height: 100%;
  }

  img {
    box-shadow: -30px 0 30px 0 $shadow1, -20px 0 50px -10px $shadow2;
  }

  .book-info-container {
    height: 100%;
    padding: calc(6vh - 40px) 0;

    a {
      color: $author-background;
    }

    a:hover {
      color: $brown-light;
    }

    h2 {
      font-size: 4vh;
      font-weight: bold;
      margin: 20px 0;
    }

    h4 {
      font-size: 2.2vh;
      margin: 20px 0;
    }

    p {
      font-size: 1.8vh;
      margin: 20px 0;
    }
  }
}

.hot-author {
  background: $author-background;
  min-height: calc(100vh - 80px);
  padding: calc(20vh - 40px) 50px;

  .row-title {
    color: $book-text;
  }

  .img-container {
    height: 100%;
  }

  img {
    box-shadow: -30px 0 30px 0 $shadow1, -20px 0 50px -10px $shadow2;
  }

  .book-info-container {
    color: $book-text;
    height: 100%;
    padding: calc(6vh - 40px) 0;

    a {
      color: $author-text;
    }

    a:hover {
      color: $white;
    }

    h2 {
      font-size: 5vh;
      font-weight: bold;
      margin: 20px 0;
    }

    h4 {
      font-size: 2.5vh;
      margin: 20px 0;
    }

    p {
      font-size: 2vh;
      margin: 20px 0;
    }
  }
}

.recommend-book {
  background: url("http://techlinqs.com/html/bookstore-0.2/images/staff-bg.jpg") no-repeat;
  background-size: cover;
  height: 450px;
  padding-top: 50px;

  .recommend-heading {
    h2::before {
      content: url("http://techlinqs.com/html/bookstore-0.2/images/heading-left-line.png");
      padding: 0 20px;
    }

    h2::after {
      content: url("http://techlinqs.com/html/bookstore-0.2/images/heading-right-line.png");
      padding: 0 20px;
    }

    h2 {
      font-size: 2em;
      font-weight: bold;
    }

    p {
      margin-bottom: 40px;
    }
  }

  .bookshelf {
    background: url("http://techlinqs.com/html/bookstore-0.2/images/book-shelf-img.png") no-repeat bottom;
    background-size: contain;

    .fa-angle-left {
      left: -20%;
      top: 80%;
    }

    .fa-angle-right {
      right: -20%;
      top: 80%;
    }
  }

  .owl-item {
    height: 300px;
    margin-bottom: -25px;

    img {
      height: 170px;
      margin: 0 auto;
      transition: .4s;
      width: 120px;
    }

    .book-grid {
      height: 170px;
      position: relative;
    }

    .book-grid:hover {
      .book-item-info {
        transform: scale(1);
      }

      img {
        transform: scale(0);
      }
    }

    .book-item-info {
      background: $white;
      height: 170px;
      left: 0;
      padding: 10px;
      position: absolute;
      top: 0;
      transform: scale(0);
      transition: .5s ease;
      z-index: 10;

      .book-author {
        color: $black;
        display: -webkit-box;
        font-size: .8em;
        -webkit-line-clamp: 2;
        line-height: 1.1em;
        margin-top: 3px;
        max-height: 3em;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
      }

      .star-in-item {
        bottom: 5%;
        color: $star;
        font-size: .7em;
        position: absolute;
        right: 2%;
      }

      .book-title {
        display: -webkit-box;
        font-size: .9em;
        -webkit-line-clamp: 4;
        line-height: 1.1em;
        margin-top: 5px;
        max-height: 5em;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .book-title:hover {
        color: $blog-title;
      }

      .book-category {
        bottom: -3%;
        font-size: .7em;
        left: 4%;
        position: absolute;
      }

      a {
        color: $black;
      }

      a:hover {
        color: $blog-title;
      }
    }
  }
}

.static-pages {
  .home-guide-box {
    height: 300px;
    padding: 25px 10px;
    text-align: center;

    h2 {
      font-size: 40px;
      font-weight: 600;
      line-height: 75px;
      text-align: center;
      text-transform: uppercase;
    }

    p {
      text-align: center;
    }
  }
}

.hero-home {
  background: url("https://ld-prestashop.template-help.com/prestashop_63998/img/cms/parallax-banner-img1.jpg") no-repeat fixed center top;
  background-size: cover;
  height: 100vh;
  width: 100%;

  .container {
    height: 100%;
    padding: 80px 0 0;
    position: relative;
  }

  .bx-wrapper {
    background: transparent;
  }

  .home-slide-title-1 {
    font-size: 6em;
    font-weight: bold;
    transition: 1s;
  }

  .home-slide-title-2 {
    font-size: 3em;
    padding: 0 4px;
    transition: 1s;
  }

  .fa-angle-up,
  .fa-angle-down {
    font-size: 4em;
    font-weight: 100;
    margin: 0 5px;
  }

  .bx-controls-direction a {
    display: none;
  }
}

.book-of-author-slide {
  .owl-item {
    height: 300px;
    margin-bottom: -25px;

    img {
      box-shadow: -10px 0 20px 0 $shadow1, -10px 0 30px -10px $shadow2;
      height: 170px;
      margin: 0 auto;
      transition: .4s;
      width: 120px;
    }

    .book-grid {
      height: 170px;
      position: relative;
    }

    .book-grid:hover {
      .book-item-info {
        transform: scale(1);
      }

      img {
        transform: scale(0);
      }
    }

    .book-item-info {
      background: $white;
      height: 170px;
      left: 0;
      padding: 10px;
      position: absolute;
      top: 0;
      transform: scale(0);
      transition: .5s ease;
      z-index: 10;

      .book-author {
        color: $black;
        display: -webkit-box;
        font-size: .8em;
        -webkit-line-clamp: 2;
        line-height: 1.1em;
        margin-top: 3px;
        max-height: 3em;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
      }

      .star-in-item {
        bottom: 5%;
        color: $star;
        font-size: .7em;
        position: absolute;
        right: 2%;
      }

      .book-title {
        display: -webkit-box;
        font-size: .9em;
        -webkit-line-clamp: 4;
        line-height: 1.1em;
        margin-top: 5px;
        max-height: 5em;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .book-title:hover {
        color: $blog-title;
      }

      .book-category {
        bottom: -3%;
        font-size: .7em;
        left: 4%;
        position: absolute;
      }

      a {
        color: $black;
      }

      a:hover {
        color: $blog-title;
      }
    }
  }
}

.row-title {
  color: $author-text;
  font-size: 9vh;
  margin: -6vh auto 10vh;
  text-align: center;
}

.row-title::before {
  content: url("https://livedemo00.template-help.com/wt_58710/images/home-02.png");
  margin: 0 20px;
}

.row-title::after {
  content: url("https://livedemo00.template-help.com/wt_58710/images/home-03.png");
  margin: 0 20px;
}

.slide-nav {
  position: relative;

  .fa-angle-left,
  .fa-angle-right {
    position: absolute;
  }

  .fa-angle-left {
    left: -10%;
    top: 80%;
  }

  .fa-angle-right {
    right: -10%;
    top: 80%;
  }
}
