@import "users/colors";

.sidebar {
  .menu-portfolio-item {
    a {
      color: $white;
    }

    a:hover {
      border: 0;
      color: $black;
    }
  }
}

.blog-book-title {
  background: $main-color-light;
  border-radius: 3px;
  box-shadow: 0 2px 4px $shadow-light, 0 3px 6px $shadow-normal;
  color: $white;
  display: -webkit-inline-box;
  height: 20px;
  line-height: 20px;
  margin-bottom: 5px;
  transition: .4s;

  .blog-book-title-text {
    color: $white;
    padding: 2px;
    padding-bottom: 6px;
    padding-top: 6px;
  }
}

.blog-book-title:hover {
  background: $main-color-light;
}
